@model List<Dotnet_Core_Mvc_Code.Modules.Uyeler>
@{
    ViewData["Title"] = "Uyeler";
}

<h1>Uyeler</h1>
<hr>

<table class="table">
  <thead>
    <tr>

      <th scope="col">Uye ID</th>
      <th scope="col">Uye Adı</th>
      <th scope="col">Yapılacak İşlem</th>
      <th> <a class="btn btn-sm btn-success" asp-action="Create">Uye EKle</a></th>
    </tr>
  </thead>
  <tbody>
      @foreach (var uye in Model)
      {
          <tr>
      <td>@uye.Id</td>
      <td>@uye.AdSoyad</td>
      <td>
          <a class="btn btn-sm btn-info" asp-action="Details" asp-route-Id="@uye.Id">Detay</a>
          <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-Id="@uye.Id">Düzenle</a>
          <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-Id="@uye.Id">Sil</a>
      </td>
    </tr>
      }
    
  
  </tbody>
</table>