@model IEnumerable<Dotnet_Core_Mvc_Code.Modules.Odunc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
</div>
<table class="table container">
    <thead>
        <thead>
    <tr >

      <th scope="col">ID</th>
      <th scope="col">Odünç Alan Kişi</th>
      <th scope="col">Odunç Alınan Kitap</th>
      <th scope="col">Yapılacak İşlem</th>
      <th> <a class="btn btn-sm btn-success" asp-action="Create">Yeni Kitap Türü Ekle EKle</a></th>
    </tr>
  </thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Uye.AdSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KitapIsbnNavigation.Ad)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
